<div class="wrapper-footer">
  <footer class="footer fixed-bottom bg-dark">
    <a href="#">
      <span class="acesso-informacao-logo"><img style="height: 78px; width:110px; fill: #9C9C9B" src="../../assets/img/logo/logo_acesso_info.svg"></span>
    </a>
    <a href="#">
      <span class="ministerio-logo"><img style="height: 78px; width:180px" src="../../assets/img/logo/logo_mctci.svg"></span>
    </a>
    <a href="#">
      <span class="brasil-logo"><img style="height: 78px; width:200px;" src="../../assets/img/logo/logo_br_gov.svg"></span>
    </a>
  </footer>
</div>
