<footer class="fixed-bottom bg-light">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-2 insa-logo">
          <a href="http://www.insa.gov.br/" target="_blank">
            <img src="../../assets/img/logo/insa-logo.svg" alt="Instituto Nacional do Semiárido" width="100%">
          </a>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 col-md-offset-4"></div>
        <div class="col-xs-6 col-sm-3 col-md-2 col-md-offset-4"></div>
        <div class="col-xs-6 col-sm-3 col-md-2 col-md-offset-4"></div>
        <div class="col-xs-6 col-sm-3 col-md-2 col-md-offset-4">
          <a href="http://www.mcti.gov.br/" target="_blank">
            <img src="../../assets/img/logo/logo_mctci.svg" alt="Ministério da Ciência, Tecnologia, Inovações e Comunicações" width="100%">
          </a>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 br-logo">
          <a href="http://www.brasil.gov.br/" target="_blank">
            <img src="../../assets/img/logo/logo_br_gov.svg" alt="Brasil" width="100%">
          </a>
        </div>
      </div>
    </div>
  </footer>