<div class="full-page">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="container about-container">
                    <h2 class="title">PORTAL DA DESERTIFICAÇÃO</h2>
                    <hr>
                    <div class="content">
                        <p>Visando reunir esforços para melhor entender os processos de desertificação na região semiárida e
                            organizar um sistema de monitoramento capaz de oferecer aos gestores públicos uma ferramenta de
                            acompanhamento e avaliação das ações de combate a esse processo, bem como disponibilizar notícias,
                            eventos e publicações a respeito do tema, o Instituto Nacional do Semiárido (Insa/MCTIC), por meio de
                            uma equipe multidisciplinar, no qual o autor do presente estudo é membro do instituto, efetiva através
                            do projeto de pesquisa Sistema de Monitoramento do Semiárido Brasileiro (SIMSAB), o Portal da
                            Desertificação, que possibilita através de um conjunto de indicadores a
                            geração de dados ambientais, sociais, econômicos e institucionais capaz de indicar as áreas mais
                            críticas e suas principais causas e consequências.</p>
                        <p>Nessa perspectiva, o Portal da Desertificação viabiliza a sistematização das múltiplas relações entre a
                            sociedade e a natureza, especialmente na região semiárida brasileira, de modo a identificar as causas e
                            efeitos do processo e, consequentemente, as medidas essenciais ao seu enfrentamento.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
