<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" style="margin-left: 100px" href="#">
            <img src="../../assets/img/logo/new-logo.png" width="160" height="55" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" style="margin-right: 5%" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown selectpicker">
                    <a id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        class="nav-link dropdown-toggle" routerLink="parceiros" routerLinkActive="active">
                        <i class="fas fa-info-circle fa-2x icon"></i>
                    </a>
                    <div class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown">
                        <a id="projeto" class="dropdown-item" routerLink="projeto" routerLinkActive="active">Sobre o
                            Projeto</a>
                        <a id="equipe" class="dropdown-item" routerLink="equipe" routerLinkActive="active">Quem é Quem</a>
                        <a id="parceiros" class="dropdown-item" routerLink="parceiros" routerLinkActive="active">Nossos
                            Parceiros</a>
                        <a id="contato" class="dropdown-item" href="mailto:portaldadesertificacao@insa.gov.br?Subject=Fale%20Conosco" target="_top">Fale Conosco</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a id="institutional-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" class="nav-link dropdown-toggle" routerLink="partners" routerLinkActive="active">
                        <i class="fas fa-graduation-cap fa-2x icon"></i>
                    </a>
                    <div class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown">
                        <a id="insa" class="dropdown-item" routerLink="insa" routerLinkActive="active">Sobre o INSA</a>
                        <a id="desertificacao" class="dropdown-item" routerLink="desertificacao" routerLinkActive="active">Desertificação</a>
                    </div>
                </li>
                <li class="nav-item" style="margin-top: 6%;">
                    <a id="contato" data-toggle="tooltip" title="Entre em contato conosco." href='mailto:insa@insa.gov.br' target="_top" ><i class="fa fas fa-at fa-2x icon"></i> </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
