<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <a class="navbar-brand" style="margin-left: 100px" href="#">
    <img src="../../assets/img/logo/logo.png" width="200" height="75" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" style="margin-right: 40px" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="about" routerLinkActive="active"><i class="fas fa-info-circle fa-3x icon"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="partners" routerLinkActive="active"><i class="fas fa-handshake fa-3x icon"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="team" routerLinkActive="active"><i class="fas fa-users fa-3x icon"></i></a>
      </li>
    </ul>
  </div>
</nav>
<hr>
