<div class="partners-container">
    <div class="absolute-center">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                            <a href="#"><img class="partners-logo" src="../../assets/img/partners/Prodema.png"></a>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                            <a href="#"><img class="partners-logo ppgmmc" src="../../assets/img/partners/Ppgmmc.png"></a>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                            <a href="#"><img class="ctrn" src="../../assets/img/partners/Ctrn.png"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                            <a href="#"><img class="partners-logo" src="../../assets/img/partners/Parque Tecnologico.png"></a>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                            <a><img class="partners-logo" src="../../assets/img/partners/Fundep.png"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                            <a href="#"><img class="larger-logos ufcg" src="../../assets/img/partners/UFCG.png"></a>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                            <a><img class="larger-logos ufpb" src="../../assets/img/partners/Ufpb.png"></a>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                            <a><img class="larger-logos lsd" src="../../assets/img/partners/LSD.png"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>