.container {
  margin-top: 3%; 
}

.partners-title {
  text-align: center;
    font-weight: bold;
    font-size: 26px;
}

.partners-logo {
  height: 90%;
  width: 100%;
}

.col-md-2, .col-md-3 {
  padding-top: 10px;
}

.larger-logos {
  height: 80%;
  width: 80%;
}

.uepb {
  height: 100%;
  width: 80%;
}

.ufcg {
  margin-top: 10px;
}

.lsd {
  margin-top: 5px;
}

.ctrn {
  height: 90%;
  width: 140%;
}

.ppgmmc {
  padding-left: 10px;
}
