<div class="container">

    <h1 class="partners-title">PARCEIROS</h1>
    <hr>
    <div class="row">
        <div class="d-flex d-inline-flex align-items-center">
            <div class="p-2 align-self-center">
                <a target="_blank" href="http://www.asabrasil.org.br/"
                    ><img  class="partners-logo" src="../../assets/img/partners/Asa.png" alt=""
                /></a>
            </div>
            <div class="p-2 align-self-center">
                <a target="_blank" href="http://mapbiomas.org/"
                    ><img  class="partners-logo" src="../../assets/img/partners/MapBiomas.png" alt=""
                /></a>
            </div>
            <div class="p-2 align-self-center">
                <a target="_blank" href="https://www.usgs.gov/"
                    ><img  class="partners-logo" src="../../assets/img/partners/Usgs.png" alt=""
                /></a>
            </div>
            <div class="p-2 align-self-center">
                <a target="_blank" href="https://www.nasa.gov/"
                    ><img class="partners-logo" src="../../assets/img/partners/Nasa.png" alt=""
                /></a>
            </div>
            <div class="p-2 align-self-center">
                <a target="_blank" href="http://www.inpe.br/"
                    ><img  class="partners-logo" src="../../assets/img/partners/Inpe.png" alt=""
                /></a>
            </div>
            <div class="p-2 align-self-center">
                    <a target="_blank" href="https://www.ibge.gov.br/"
                        ><img  class="partners-logo" src="../../assets/img/partners/Ibge.png" alt=""
                    /></a>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="d-flex d-inline-flex align-items-center">
            <div class="p-2 align-self-center">
                <a target="_blank" href="http://www.ufcg.edu.br/"
                    ><img  class="partners-logo" src="../../assets/img/partners/UFCG.png" alt=""
                /></a>
            </div>
            <div class="p-2 align-self-center">
                <a target="_blank" href="https://www.ufpb.br/"
                    ><img  class="partners-logo" src="../../assets/img/partners/Ufpb.png" alt=""
                /></a>
            </div>
            <div class="p-2 align-self-center">
                <a target="_blank" href="https://www.lsd.ufcg.edu.br/#/"
                    ><img  class="partners-logo" src="../../assets/img/partners/LSD.png" alt=""
                /></a>
            </div>
            <div class="p-2 align-self-center">
                <a target="_blank" href="http://ppgmmc.ci.ufpb.br/"
                    ><img class="partners-logo"
                        src="../../assets/img/partners/Ppgmmc.png"
                        alt=""
                /></a>
            </div>
            <div class="p-2 align-self-center">
                <a target="_blank" href="http://itcg.org.br/fund-paqtcpb/"
                    ><img class="partners-logo" src="../../assets/img/partners/Parque Tecnologico.png" alt=""
                /></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="d-flex d-inline-flex align-items-center">
            <div class="p-2 align-self-center">
                <a target="_blank" href="http://www.fundep.ufmg.br/"
                    ><img class="partners-logo" src="../../assets/img/partners/Fundep.png" alt=""
                /></a>
            </div>
            <div class="p-2 align-self-center">
                <a target="_blank" href="#"
                    ><img class="partners-logo" src="../../assets/img/partners/Ctrn.png" alt=""
                /></a>
            </div>
            <div class="p-2 align-self-center">
                <a target="_blank" href="http://www.prpg.ufpb.br/prodema/contents/menu/corpo-disciente/doutorado"
                    ><img class="partners-logo" src="../../assets/img/partners/Prodema.png" alt=""
                /></a>
            </div>
            <div class="p-2 align-self-center">
                <a target="_blank" href="http://www.finep.gov.br/"><img class="partners-logo" src="../../assets/img/partners/logo-finep.png" alt=""
                /></a>
            </div>
        </div>
    </div>
</div>
