<div class="full-page">
    <div id="partners-container" style="position: absolute; left: 50%;">
        <div style="position: relative; left: -50%;">
            <div class="container">
            <div class="row align-content-lg-center">
                <div class="col-md-3">
                </div>
                <div class="col-md-2">
                    <a href="http://www.prpg.ufpb.br/prodema/contents/menu/corpo-disciente/doutorado" target="_blank"><img class="partners-logo" src="../../assets/img/partners/Prodema.png"></a>
                </div>
                <div class="col-md-2">
                    <a href="http://ppgmmc.ci.ufpb.br/" target="_blank"><img class="partners-logo" src="../../assets/img/partners/Ppgmmc.png"></a>
                </div>
                <div class="col-md-2">
                    <a href="#" target="_blank"><img class="partners-logo" src="../../assets/img/partners/Ctrn.png"></a>
                </div>
            </div>
            <div class="row align-content-lg-center">
                <div class="col-md-4">
                </div>
                <div class="col-md-2">
                    <a href="http://itcg.org.br/fund-paqtcpb/" target="_blank"><img class="partners-logo" src="../../assets/img/partners/Parque Tecnologico.png"></a>
                </div>
                <div class="col-md-2">
                    <a href="http://www.fundep.ufmg.br/" target="_blank"><img class="partners-logo" src="../../assets/img/partners/Fundep.png"></a>
                </div>
            </div>
            <div class="row align-content-lg-center">
                <div class="col-md-3"></div>
                <div class="col-md-2">
                    <a href="http://www.ufcg.edu.br/" target="_blank"><img class="larger-logos ufcg" src="../../assets/img/partners/UFCG.png"></a>
                </div>
                <div class="col-md-2">
                    <a href="https://www.ufpb.br/" target="_blank"><img class="uepb" src="../../assets/img/partners/Ufpb.png"></a>
                </div>
                <div class="col-md-2">
                    <a href="https://www.lsd.ufcg.edu.br/#/" target="_blank"><img class="larger-logos lsd" src="../../assets/img/partners/LSD.png"></a>
                </div>
            </div>
        </div>
    </div>
</div>
