<div class="full-page">
    <div class="container news-container">
        <h3 class="title">POSTAGENS</h3>
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="http://placehold.it/400x200" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Título da postagem</h5>
                        <p class="card-text">Some quick example text to build on the post title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link" style="float: right;"><i class="fas fa-arrow-circle-right fa-2x icon"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="http://placehold.it/400x200" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Título da postagem</h5>
                        <p class="card-text">Some quick example text to build on the post title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link" style="float: right;"><i class="fas fa-arrow-circle-right fa-2x icon"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="http://placehold.it/400x200" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Título da postagem</h5>
                        <p class="card-text">Some quick example text to build on the post title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link" style="float: right;"><i class="fas fa-arrow-circle-right fa-2x icon"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 20px;">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="http://placehold.it/400x200" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Título da postagem</h5>
                        <p class="card-text">Some quick example text to build on the post title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link" style="float: right;"><i class="fas fa-arrow-circle-right fa-2x icon"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="http://placehold.it/400x200" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Título da postagem</h5>
                        <p class="card-text">Some quick example text to build on the post title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link" style="float: right;"><i class="fas fa-arrow-circle-right fa-2x icon"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="http://placehold.it/400x200" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Título da postagem</h5>
                        <p class="card-text">Some quick example text to build on the post title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link" style="float: right;"><i class="fas fa-arrow-circle-right fa-2x icon"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
