<div class="full-page">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="desertification-container">
                    <h2 class="title">DESERTIFICAÇÃO</h2>
                    <hr>
                    <p>A desertificação é um fenômeno de escala global caracterizado pela degradação das terras nas
                        zonas
                        áridas, semiáridas e subúmidas secas, resultante de vários fatores, incluindo as variações
                        climáticas e
                        as atividades humanas. Sendo a degradação por sua vez, entendida como a redução ou perda da
                        produtividade biológica ou econômica das terras agrícolas de sequeiro e irrigadas, das
                        pastagens
                        naturais e plantadas, das florestas e matas nativas devido aos sistemas de utilização da terra
                        ou a
                        processos que resultam da atividade do homem e das suas formas de ocupação do território, entre
                        eles a
                        erosão do solo, a deterioração das propriedades físicas, químicas e biológicas do solo e a
                        destruição da
                        vegetação por longos períodos.
                    </p>
                    <p>Portanto, a desertificação é um processo que culmina com a perda ou redução da capacidade do
                        solo de
                        servir como suporte para a manutenção dos elementos bióticos. Onde não há flora,
                        consequentemente, não
                        há fauna, recursos hídricos disponíveis e, por conseguinte, condições de vida satisfatórias
                        para
                        populações humanas.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
