.desertification-container {
    margin-top: 30px;
    position: inherit;
}

.title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.content {
    text-align: justify;
}

.panel {
    background-color: whitesmoke;
}