<div class="full-page">
    <div class="container">
        <div class="container">
            <div class="panel-body">
                <div class="desertification-container">
                    <h2 class="title">DESERTIFICAÇÃO</h2>
                    <hr>
                    <p>     A desertificação é um fenômeno de escala global caracterizado pela degradação das
                        terras nas zonas áridas, semiáridas e subúmidas secas, resultante de vários fatores,
                        incluindo as variações climáticas e as atividades humanas, e que compromete os
                        sistemas produtivos das áreas susceptíveis, os serviços ambientais e a conservação da
                        biodiversidade.  Segundo a Convenção das Nações Unidas para o Combate à
                        Desertificação e Mitigação dos Efeitos das Secas - UNCCD (sigla em Inglês), o
                        processo de desertificação, atinge países dos cinco continentes, especialmente,
                        Austrália, China, Mongólia, Índia, países africanos, da Europa mediterrânea, Estados
                        Unidos, México e parte da América do Sul. No Brasil, são 1.480 municípios
                        susceptíveis a esse processo, sendo especialmente mais afetados os estados do Nordeste,
                        além de Minas Gerais e Espirito Santo.
                    </p>
                    <p>     No território brasileiro, em especial a região semiárida que possui atualmente um
                        território de mais de 1 milhão Km², a desertificação é consequência do uso inadequado
                        dos recursos florestais principalmente da Caatinga e Cerrado para o fornecimento de
                        biomassa florestal no atendimento de considerável percentual da matriz energética do
                        Nordeste e de outras regiões, por meio de:  desmatamentos; práticas agropecuárias sem
                        manejo adequado dos solos, provocando os processos erosivos e esgotando os solos;
                         sobrepastejo na pecuária extensiva comprometendo a textura dos solos e com isso a
                        regeneração da vegetação; e pelo manejo inadequado dos sistemas de irrigação, com a
                        consequente salinização da terra.
                    </p>
                    <p>
                            Para atenuar esses efeitos, o Brasil juntamente com mais 192 países, criaram em 1994 a
                        UNCCD, que estabelece padrões de trabalho e metas internacionais convergentes em
                        ações coordenadas na busca de soluções qualitativas que atendam às demandas
                        socioambientais nos espaços áridos, semiáridos e subúmidos secos, particularmente
                        onde residem as populações mais pobres do planeta.
                    </p>
                    <p>
                            Atualmente, os 197 países participantes da Convenção trabalham em conjunto para
                        melhorar as condições de vida das pessoas nas terras secas, manter e restaurar a
                        produtividade da terra e do solo e para mitigar os efeitos da seca.  O novo Quadro
                        Estratégico da UNCCD 2018-2030, é o compromisso global mais abrangente para
                        alcançar a Neutralidade da Degradação da Terra (LDN), a fim de restaurar a
                        produtividade de vastas extensões de terras degradadas, e melhorar os meios de
                        subsistência de mais de 1,3 bilhão de pessoas e reduzir os impactos de seca em
                        populações vulneráveis.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
