.icon {
  color: #dcdcdc;
}
.icon:hover {
  color: #037DBC;
}

.acesso-informacao-logo {
  padding-left: 20px;
  float: left;
  color: #037DBC;
}

.brasil-logo {
  float: right;
  padding-right: 10px;
}

.ministerio-logo {
  float: right;
  padding-right: 20px;
}
