body {
  color: #ffffff;
}

.icon {
  color: #dcdcdc;
}
.icon:hover {
  color: #ad3436;
}

.full-page {
    position:absolute;
    background-color: #ad3436;
    background-size: cover;
    margin-top: 0px;
    left:0;
    z-index:11;
    width:100%;
    height:83.7%;
}

.acesso-informacao-logo {
  padding-left: 20px;
  float: left;
}

.brasil-logo {
  float: right;
  padding-right: 10px;
}

.ministerio-logo {
  float: right;
  padding-right: 20px;
}
