<div class="container wow slideInRight">
  <div class="row">
    <div class="col-md-3">
        <a><img src="../../assets/img/team/team01.jpg" class="rounded-circle team-icon"></a>
        <h5 class="name-team">Mota Motoca</h5>
        <p class="team-function">Deus do Promethee</p>
    </div>
    <div class="col-md-3 team-div">
      <a href="#"><img src="../../assets/img/team/team01.jpg" class="rounded-circle team-icon"></a>
    </div>
    <div class="col-md-3 team-div">
      <a href="#"><img src="../../assets/img/team/team01.jpg" class="rounded-circle team-icon"></a>
    </div>
    <div class="col-md-3 team-div">
      <a href="#"><img src="../../assets/img/team/team01.jpg" class="rounded-circle team-icon"></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <a href="#"><img src="../../assets/img/team/team01.jpg" class="rounded-circle team-icon"></a>
    </div>
    <div class="col-md-3">
      <a href="#"><img src="../../assets/img/team/team01.jpg" class="rounded-circle team-icon"></a>
    </div>
    <div class="col-md-3">
      <a href="#"><img src="../../assets/img/team/team01.jpg" class="rounded-circle team-icon"></a>
    </div>
    <div class="col-md-3">
      <a href="#"><img src="../../assets/img/team/team01.jpg" class="rounded-circle team-icon"></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <a href="#"><img src="../../assets/img/team/team01.jpg" class="rounded-circle team-icon"></a>
    </div>
    <div class="col-md-3">
      <a href="#"><img src="../../assets/img/team/team01.jpg" class="rounded-circle team-icon"></a>
    </div>
    <div class="col-md-3">
      <a href="#"><img src="../../assets/img/team/team01.jpg" class="rounded-circle team-icon"></a>
    </div>
    <div class="col-md-3">
      <a href="#"><img src="../../assets/img/team/team01.jpg" class="rounded-circle team-icon"></a>
    </div>
  </div>
</div>
