@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

.team-icon {
  height: 200px;
  width: 200px;
}
.team-icon:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.row {
  padding-top: 5px;
}

.name-team {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  text-align: justify;
  margin-left: 45px;
  margin-top: 5px;
}

.team-function {
  font-family: 'Quicksand', sans-serif;
  text-align: justify;
  margin-left: 20px;
  font-weight: lighter;
}
