<div class="container wow slideInRight">
  <div class="row">
    <div class="col-md-3">
      <a href="#" data-target="#team-member-detail-collapse" data-toggle="collapse" aria-expanded="false"
         aria-controls="team-member-detail-collapse"><img src="../../assets/img/team/team01.jpg"
                                                          class="rounded-circle team-icon"></a>
    </div>
    <div class="col-md-3">
      <a href="#"><img src="../../assets/img/team/team01.jpg" class="rounded-circle team-icon"></a>
    </div>
    <div class="col-md-3">
      <a href="#"><img src="../../assets/img/team/team01.jpg" class="rounded-circle team-icon"></a>
    </div>
    <div class="col-md-3">
      <a href="#"><img src="../../assets/img/team/team01.jpg" class="rounded-circle team-icon"></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <a href="#"><img src="../../assets/img/team/team01.jpg" class="rounded-circle team-icon"></a>
    </div>
    <div class="col-md-3">
      <a href="#"><img src="../../assets/img/team/team01.jpg" class="rounded-circle team-icon"></a>
    </div>
    <div class="col-md-3">
      <a href="#"><img src="../../assets/img/team/team01.jpg" class="rounded-circle team-icon"></a>
    </div>
    <div class="col-md-3">
      <a href="#"><img src="../../assets/img/team/team01.jpg" class="rounded-circle team-icon"></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <a href="#"><img src="../../assets/img/team/team01.jpg" class="rounded-circle team-icon"></a>
    </div>
    <div class="col-md-3">
      <a href="#"><img src="../../assets/img/team/team01.jpg" class="rounded-circle team-icon"></a>
    </div>
    <div class="col-md-3">
      <a href="#"><img src="../../assets/img/team/team01.jpg" class="rounded-circle team-icon"></a>
    </div>
    <div class="col-md-3">
      <a href="#"><img src="../../assets/img/team/team01.jpg" class="rounded-circle team-icon"></a>
    </div>
  </div>

  <div id="team-member-detail-collapse" class="collapse multi-collapse">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../../assets/img/team/team01.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
