<div class="full-page">
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-body">
                <!-- Team Members Row -->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="my-4 team-name">EQUIPE</h2>
                        </div>
                    </div>
                    <p class="text-center">
                        A equipe do “Portal da Desertificação” é composta por
                        pesquisadores e profissionais oriundos de instituições de
                        ensino e pesquisa, com intuito de disponibilizar para a
                        sociedade uma ferramenta de avaliação das causas
                        estruturarias e possíveis consequências do processo de
                        desertificação.
                    </p>
                </div>
                <hr />
                <div id="carouselMembers" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselMembers" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselMembers" data-slide-to="1"></li>
                        <li data-target="#carouselMembers" data-slide-to="2"></li>
                    </ol>
                    <div class="container">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-6 text-center mb-4">
                                        <img class="rounded-circle img-fluid d-block mx-auto team-icon"
                                            src="../../assets/img/team/ricardo.png" alt="" />
                                        <h4 class="name">
                                            Ricardo Cunha Correia Lima
                                        </h4>
                                        <h6>Coordenador Geral</h6>
                                        <a style="margin-left: 10px;"
                                            href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4786229J6"
                                            data-toggle="tooltip" data-placement="bottom" title="Currículo Lattes"
                                            target="_blank"><i
                                                class="fas fa-user-graduate fa-2x curriculum-icon"></i></a>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 text-center mb-4">
                                        <img class="rounded-circle img-fluid d-block mx-auto team-icon"
                                            src="../../assets/img/team/salomao.png" alt="" />
                                        <h4 class="name">
                                            Salomão de Sousa Medeiros
                                        </h4>
                                        <h6>Coordenador do SIMSAB</h6>
                                        <!-- <a
                                                    href="#"
                                                    data-toggle="tooltip"
                                                    data-placement="bottom"
                                                    title="LinkedIn"
                                                    ><i
                                                        class="fab fa-linkedin fa-2x curriculum-icon"
                                                    ></i
                                                ></a>
                                                <a
                                                    style="margin-left: 10px;"
                                                    href="#"
                                                    data-toggle="tooltip"
                                                    data-placement="bottom"
                                                    title="Currículo Lattes"
                                                    ><i
                                                        class="fas fa-user-graduate fa-2x curriculum-icon"
                                                    ></i
                                                ></a> -->
                                    </div>
                                    <div class="col-lg-3 col-sm-6 text-center mb-4">
                                        <img class="rounded-circle img-fluid d-block mx-auto team-icon"
                                            src="../../assets/img/team/cicero.png" alt="" />
                                        <h4>Cícero Fidelis da Silva Neto</h4>
                                        <h6>Analista de Geoprocessamento</h6>
                                        <a href="https://www.linkedin.com/in/c%C3%ADcero-fidelis-7446a031/"
                                            data-toggle="tooltip" data-placement="bottom" title="LinkedIn"
                                            target="_blank"><i class="fab fa-linkedin fa-2x curriculum-icon  "></i></a>
                                        <a style="margin-left: 10px;"
                                            href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4445946P6"
                                            data-toggle="tooltip" data-placement="bottom" title="Currículo Lattes"
                                            target="_blank"><i
                                                class="fas fa-user-graduate fa-2x  curriculum-icon"></i></a>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 text-center mb-4">
                                        <img class="rounded-circle img-fluid d-block mx-auto team-icon"
                                            src="../../assets/img/team/Heithor_2.png" alt="" />
                                        <h4>Heithor Alexandre de Araujo Queiroz</h4>
                                        <h6>Analista de Geoprocessamento</h6>
                                        <a href="https://www.linkedin.com/in/heithor-queiroz-9487a614b/"
                                            data-toggle="tooltip" data-placement="bottom" title="LinkedIn"
                                            target="_blank"><i class="fab fa-linkedin fa-2x curriculum-icon"></i></a>
                                        <a style="margin-left: 10px;"
                                            href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K8762326Z6"
                                            data-toggle="tooltip" data-placement="bottom" title="Currículo Lattes"
                                            target="_blank"><i
                                                class="fas fa-user-graduate fa-2x curriculum-icon"></i></a>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 text-center mb-4">
                                        <img class="rounded-circle img-fluid d-block mx-auto team-icon"
                                            src="../../assets/img/team/josi.png" alt="" />
                                        <h4>Josilene Pereira Lima</h4>
                                        <h6>Analista de Geoprocessamento</h6>
                                        <a href="https://www.linkedin.com/in/josilene-lima-28271b23/"
                                            data-toggle="tooltip" data-placement="bottom" title="LinkedIn"
                                            target="_blank"><i class="fab fa-linkedin fa-2x curriculum-icon"></i></a>
                                        <a style="margin-left: 10px;" href="http://lattes.cnpq.br/2429433134273944"
                                            data-toggle="tooltip" data-placement="bottom" target="_blank"
                                            title="Currículo Lattes"><i
                                                class="fas fa-user-graduate fa-2x curriculum-icon"></i></a>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 text-center mb-4">
                                        <img class="rounded-circle img-fluid d-block mx-auto team-icon"
                                            src="../../assets/img/team/talita.png" alt="" />
                                        <h4>Talita Stael Pimenta da Silva Costa</h4>
                                        <h6>Analista de Geoprocessamento</h6>
                                        <!-- <a
                                                    href="https://www.linkedin.com/in/josilene-lima-28271b23/"
                                                    data-toggle="tooltip"
                                                    data-placement="bottom"
                                                    title="LinkedIn"
                                                    ><i
                                                        class="fab fa-linkedin fa-2x curriculum-icon"
                                                    ></i
                                                ></a>
                                                <a
                                                    style="margin-left: 10px;"
                                                    href="http://lattes.cnpq.br/2429433134273944"
                                                    data-toggle="tooltip"
                                                    data-placement="bottom"
                                                    title="Currículo Lattes"
                                                    ><i
                                                        class="fas fa-user-graduate fa-2x curriculum-icon"
                                                    ></i
                                                ></a> -->
                                    </div>
                                    <div class="col-lg-3 col-sm-6 text-center mb-3">
                                        <img class="rounded-circle img-fluid d-block mx-auto team-icon"
                                            src="../../assets/img/team/BrunoDantas.png" alt="" />
                                        <h4>Bruno Cardoso Dantas</h4>
                                        <br />
                                        <h6>Desenvolvedor</h6>
                                        <a href="https://www.linkedin.com/in/bruno-dantas-msc-mba-311667149/"
                                            data-toggle="tooltip" data-placement="bottom" title="LinkedIn"
                                            target="_blank"><i class="fab fa-linkedin fa-2x curriculum-icon"></i></a>
                                        <a style="margin-left: 10px;"
                                            href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K8984798A8"
                                            data-toggle="tooltip" data-placement="bottom" target="_blank"
                                            title="Currículo Lattes"><i
                                                class="fas fa-user-graduate fa-2x curriculum-icon"></i></a>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 text-center mb-4">
                                        <img class="rounded-circle img-fluid d-block mx-auto team-icon"
                                            src="../../assets/img/team/Pedro.png" alt="" />
                                        <h4>Pedro Vitor Cerqueria Pacheco</h4>
                                        <h6>Analista de Infraestrutura Sênior</h6>
                                        <a style="margin-left: 10px;"
                                            href="https://www.linkedin.com/in/pedro-pacheco-ba8b973b/"
                                            data-toggle="tooltip" data-placement="bottom" title="LinkedIn"
                                            target="_blank"><i class="fab fa-linkedin fa-2x curriculum-icon"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-6 text-center mb-3">
                                        <img class="rounded-circle img-fluid d-block mx-auto team-icon"
                                            src="../../assets/img/team/Chateau.png" alt="" />
                                        <h4>Chateaubriand Linhares de Almeida</h4>
                                        <h6>Designer</h6>
                                        <a href="https://www.linkedin.com/in/chateaubriand-almeida-54b66463/"
                                            data-toggle="tooltip" data-placement="bottom" title="LinkedIn"
                                            target="_blank"><i class="fab fa-linkedin fa-2x curriculum-icon"></i></a>
                                        <a style="margin-left: 10px;"
                                            href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4473250J4"
                                            data-toggle="tooltip" data-placement="bottom" target="_blank"
                                            title="Currículo Lattes"><i
                                                class="fas fa-user-graduate fa-2x curriculum-icon"></i></a>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 text-center mb-4">
                                        <img class="rounded-circle img-fluid d-block mx-auto team-icon"
                                            src="../../assets/img/team/Renally.png" alt="" />
                                        <h4>Renally Amorim Cavalcante</h4>
                                        <h6>Assessoria de comunicação</h6>
                                        <a href="https://www.linkedin.com/in/renally-amorim-cavalcante-a54b86170/?originalSubdomain=br"
                                            data-toggle="tooltip" data-placement="bottom" title="LinkedIn"
                                            target="_blank"><i class="fab fa-linkedin fa-2x curriculum-icon"></i></a>
                                        <a style="margin-left: 10px;"
                                            href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K8265636T1"
                                            data-toggle="tooltip" data-placement="bottom" target="_blank"
                                            title="Currículo Lattes"><i
                                                class="fas fa-user-graduate fa-2x curriculum-icon"></i></a>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 text-center mb-4">
                                        <img class="rounded-circle img-fluid d-block mx-auto team-icon"
                                            src="../../assets/img/team/Cristiano.png" alt="" />
                                        <h4>Cristiano dos Santos Sousa</h4>
                                        <h6>Especialista em solos</h6>
                                        <a href="https://www.linkedin.com/in/cristiano-dos-santos-sousa-799a41173/"
                                            data-toggle="tooltip" data-placement="bottom" target="_blank"
                                            title="LinkedIn"><i class="fab fa-linkedin fa-2x curriculum-icon"></i></a>
                                        <a style="margin-left: 10px;"
                                            href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4294255J1"
                                            data-toggle="tooltip" data-placement="bottom" target="_blank"
                                            title="Currículo Lattes"><i
                                                class="fas fa-user-graduate fa-2x curriculum-icon"></i></a>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 text-center mb-4">
                                        <img class="rounded-circle img-fluid d-block mx-auto team-icon"
                                            src="../../assets/img/team/Rodrigo.png" alt="" />
                                        <h4>Rodrigo Santana Macedo</h4>
                                        <h6>Especialista em solos</h6>
                                        <a href="https://www.linkedin.com/in/rodrigo-macedo-b3730337/"
                                            data-toggle="tooltip" data-placement="bottom" target="_blank"
                                            title="LinkedIn"><i class="fab fa-linkedin fa-2x curriculum-icon"></i></a>
                                        <a style="margin-left: 10px;"
                                            href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4746234P0"
                                            data-toggle="tooltip" data-placement="bottom" target="_blank"
                                            title="Currículo Lattes"><i
                                                class="fas fa-user-graduate fa-2x curriculum-icon"></i></a>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 text-center mb-4">
                                        <img class="rounded-circle img-fluid d-block mx-auto team-icon"
                                            src="../../assets/img/team/Thiago.png" alt="" />
                                        <h4>
                                            Thiago Emmanuel Pereira da Cunha Silva
                                        </h4>
                                        <h6>Coordenador Técnico</h6>
                                        <a style="margin-left: 10px;"
                                            href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4718404U4"
                                            data-toggle="tooltip" data-placement="bottom" title="Currículo Lattes"
                                            target="_blank"><i
                                                class="fas fa-user-graduate fa-2x curriculum-icon"></i></a>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 text-center mb-4">
                                        <img class="rounded-circle img-fluid d-block mx-auto team-icon"
                                            src="../../assets/img/team/ana.png" alt="" />
                                        <h4>Ana Maria Santos Silva</h4>
                                        <h6>Desenvolvedor Júnior</h6>
                                        <a href="https://www.linkedin.com/in/amsv95/"
                                            data-toggle="tooltip" data-placement="bottom" title="LinkedIn"
                                            target="_blank"><i class="fab fa-linkedin fa-2x curriculum-icon"></i></a>
                                        <a style="margin-left: 10px;" href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K8318171Y4"
                                            data-toggle="tooltip" data-placement="bottom" title="Currículo Lattes"
                                            target="_blank"><i
                                                class="fas fa-user-graduate fa-2x curriculum-icon"></i></a>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 text-center mb-3">
                                        <img class="rounded-circle img-fluid d-block mx-auto team-icon"
                                            src="../../assets/img/team/matheus.png" alt="" />
                                        <h4>Matheus Oliveira Pereira</h4>
                                        <h6>Estagiário</h6>
                                        <a href="http://www.linkedin.com/in/matheusop" data-toggle="tooltip"
                                            data-placement="bottom" target="_blank" title="LinkedIn"><i
                                                class="fab fa-linkedin fa-2x curriculum-icon"></i></a>
                                        <a style="margin-left: 10px;"
                                            href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K2770489H4"
                                            data-toggle="tooltip" data-placement="bottom" target="_blank"
                                            title="Currículo Lattes"><i
                                                class="fas fa-user-graduate fa-2x curriculum-icon"></i></a>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 text-center mb-4">
                                        <img class="rounded-circle img-fluid d-block mx-auto team-icon"
                                            src="../../assets/img/team/gabriel.png" alt="" />
                                        <h4>Gabriel Felipe Cardoso Gomes</h4>
                                        <h6>Estagiário</h6>
                                        <a href="https://www.linkedin.com/in/gabrielfelipelll" data-toggle="tooltip"
                                            data-placement="bottom" title="LinkedIn" target="_blank"><i
                                                class="fab fa-linkedin fa-2x curriculum-icon"></i></a>
                                        <a style="margin-left: 10px;" href="http://lattes.cnpq.br/1234105529704254"
                                            data-toggle="tooltip" data-placement="bottom" title="Currículo Lattes"
                                            target="_blank"><i
                                                class="fas fa-user-graduate fa-2x curriculum-icon"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-6 text-center mb-4">
                                        <img class="rounded-circle img-fluid d-block mx-auto team-icon"
                                            src="../../assets/img/team/thiago-yuri.png" alt="" />
                                        <h4>Thiago Yuri Evaristo de Souza</h4>
                                        <h6>Estagiário</h6>
                                        <a href="https://www.linkedin.com/in/thiago-y-8910a194" data-toggle="tooltip"
                                            data-placement="bottom" title="LinkedIn" target="_blank"><i
                                                class="fab fa-linkedin fa-2x curriculum-icon"></i></a>
                                        <a style="margin-left: 10px;"
                                            href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K8231359A4"
                                            data-toggle="tooltip" data-placement="bottom" title="Currículo Lattes"
                                            target="_blank"><i
                                                class="fas fa-user-graduate fa-2x curriculum-icon"></i></a>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 text-center mb-3">
                                        <img class="rounded-circle img-fluid d-block mx-auto team-icon"
                                            src="../../assets/img/team/mota.png" alt="" />
                                        <h4>Felipe Mota dos Santos</h4>
                                        <h6>Estagiário</h6>
                                        <a style="margin-left: 10px;"
                                            href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K8911258A4"
                                            data-toggle="tooltip" data-placement="bottom" title="Currículo Lattes"
                                            target="_blank"><i
                                                class="fas fa-user-graduate fa-2x curriculum-icon"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselMembers" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselMembers" role="button" style="align: right"
                        data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
