<div class="full-page">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                    <img src="../../assets/img/logo/base.png" usemap="#image-map" style="width:100%"  />
                    <map name="image-map">
                        <area alt="Sobre" title="Sobre" routerLink="projeto" routerLinkActive="active" coords="378,261,110" shape="circle" />
                        <area alt="Parceiros" title="Parceiros" routerLink="parceiros" routerLinkActive="active" coords="235,488,109" shape="circle" />
                        <area alt="Indicadores" title="Indicadores" routerLink="equipe" routerLinkActive="active" coords="322,744,102"
                            shape="circle" />
                        <area alt="Notícias" title="Notícias" routerLink="noticias" routerLinkActive="active" coords="861,782,106" shape="circle" />
                        <area alt="Quem é quem?" title="Quem é Quem?" routerLink="equipe" routerLinkActive="active" coords="935,572,101" shape="circle" />
                        <area alt="Desertificação" title="Desertificação" routerLink="desertificacao" routerLinkActive="active" coords="800,290,103"
                            shape="circle" />
                        <area alt="INSA" title="INSA" routerLink="insa" routerLinkActive="active" coords="599,386,98" shape="circle" />
                        <area alt="Home" title="Home" href="#" coords="446,585,531,507,561,531,572,541,594,522,661,579,727,648,545,829,551,690,527,669,451,672,445,674"
                            shape="poly" />
                    </map>
            </div>
        </div>
    </div>
</div>