<div class="center">
    <div class="container" style="position: static;">
        <div class="row">
            <img src="../../assets/img/logo/base.png" usemap="#image-map" style="width: fit-content; height: 100%;" class="img-responsive">
            <map name="image-map">
                <area target="" alt="Sobre" title="Sobre" routerLink="projeto" routerLinkActive="active" coords="261,110,103"
                    shape="circle">
                <area target="" alt="Parceiros" title="Parceiros" routerLink="parceiros" routerLinkActive="active" coords="119,332,107"
                    shape="circle">
                <area target="" alt="Indicadores" title="Indicadores" routerLink="indicadores" routerLinkActive="active"
                    coords="205,589,102" shape="circle">
                <area target="" alt="Notícias" title="Notícias" routerLink="noticias" routerLinkActive="active" coords="746,629,103"
                    shape="circle">
                <area target="" alt="Quem é quem?" title="Quem é quem?" routerLink="equipe" routerLinkActive="active"
                    coords="818,416,102" shape="circle">
                <area target="" alt="INSA" title="INSA" routerLink="equipe" routerLinkActive="active" coords="482,232,98"
                    shape="circle">
                <area target="" alt="Desertificação" title="Desertificação" routerLink="desertificacao" routerLinkActive="active"
                    coords="685,137,107" shape="circle">
                <area target="" alt="Index" title="Index" routerLink="home" routerLinkActive="active" coords="332,432,417,351,460,389,484,364,551,430,614,495,430,678,431,535,411,516,334,515"
                    shape="poly">
            </map>
        </div>
    </div>
</div>