<div class="center">
    <div style="position: static;" class="container">
        <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="aboutModal">Sobre o portal da desertificação</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                      O Portal da Desertificação viabiliza a sistematização das múltiplas relações entre a sociedade e a natureza, especialmente na região semiárida brasileira, de modo a identificar as causas e efeitos do processo e, consequentemente, as medidas essenciais ao seu enfrentamento.
                    </div>
                    <div class="modal-footer">
                        <a class="url-icon-modal" href="/projeto"><i class="fas fa-info-circle fa-2x icon info-icon-modal"
                                title="Clique aqui para saber mais."></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="partnersModal" tabindex="-1" role="dialog" aria-labelledby="partnersModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="partnersModal">Nossos parceiros</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                      Conheça as instituições parceiras do projeto.
                    </div>
                    <div class="modal-footer">
                        <a class="url-icon-modal" href="/parceiros"><i class="fas fa-info-circle fa-2x icon info-icon-modal"
                                title="Clique aqui para saber mais."></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="insaModal" tabindex="-1" role="dialog" aria-labelledby="insaModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="aboutModal">Sobre o INSA</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                      O Instituto Nacional do Semiárido (Insa) é uma unidade de pesquisa integrante do Ministério da Ciência, Tecnologia, Inovações e Comunicações (MCTIC), com enfoque no Semiárido brasileiro. Como instituição federal de pesquisa, viabiliza soluções interinstitucionais para a realização de ações de formação, difusão e formulação de políticas para convivência sustentável com a semiaridez, a partir das potencialidades socioeconômicas e ambientais da região. 
                    </div>
                    <div class="modal-footer">
                        <a class="url-icon-modal" href="/insa"><i class="fas fa-info-circle fa-2x icon info-icon-modal"
                                title="Clique aqui para saber mais."></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="desertModal" tabindex="-1" role="dialog" aria-labelledby="desertModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="aboutModal">Desertificação</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                      A desertificação é um fenômeno de escala global caracterizado pela degradação das terras nas zonas áridas, semiáridas e subúmidas secas, resultante de vários fatores, incluindo as variações climáticas e as atividades humanas, e que compromete os sistemas produtivos das áreas susceptíveis, os serviços ambientais e a conservação da biodiversidade.
                    </div>
                    <div class="modal-footer">
                        <a class="url-icon-modal" href="/desertificacao"><i
                                class="fas fa-info-circle fa-2x icon info-icon-modal"
                                title="Clique aqui para saber mais."></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="teamModal" tabindex="-1" role="dialog" aria-labelledby="teamModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="aboutModal">Nossa equipe</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                      A equipe do "Portal da Desertificação" é composta por pesquisadores e profissionais oriundos de instituições de ensino e pesquisa, com intuito de disponibilizar para a sociedade uma ferramenta de avaliação das causas estruturarias e possíveis consequências do processo de desertificação.
                    </div>
                    <div class="modal-footer">
                        <a class="url-icon-modal" href="/equipe"><i class="fas fa-info-circle fa-2x icon info-icon-modal"
                                title="Clique aqui para saber mais."></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="sadesModal" tabindex="-1" role="dialog" aria-labelledby="sadesModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="aboutModal">Sobre o SADes</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                      Sistema estruturado para análise e comparação espacial da desertificação, destinado aos 1262 municípios do Semiárido brasileiro (SAB), a partir de um conjunto de 27 indicadores e organizados segundo o modelo conceitual DPSIR (Força Motriz, Pressão, Estado, Impacto e Resposta). Sendo estes, integrados através de uma modelagem de análise multicriterial (Promethee).
                    </div>
                    <div class="modal-footer">
                        <a class="url-icon-modal" target="_blank" href="http://192.168.15.13"><i
                                class="fas fa-info-circle fa-2x icon info-icon-modal"
                                title="Clique aqui para saber mais."></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="indicesDesertificacaoModal" tabindex="-1" role="dialog" aria-labelledby="indicesDesertificacaoModal" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="aboutModal">Sobre o SADes</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                    Visualização interativa dos dados espaciais de desertificação dos 1262 municípios do Semiárido brasileiro (SAB).
                  </div>
                  <div class="modal-footer">
                      <a class="url-icon-modal" target="_blank" href="http://192.168.15.13:8000"><i
                              class="fas fa-info-circle fa-2x icon info-icon-modal"
                              title="Clique aqui para saber mais."></i></a>
                  </div>
              </div>
          </div>
      </div>        

        <div class="row">
            <svg id="svg8" xmls="http://www.w3.org/2000/svg" width="100%" height="auto" xmls:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 400.000 330.000">

                <g>
                    <image class = "urfspeed block-ball animated fadeIn" id="base" width="250" height="250" x="75" y="40" xlink:href="../../assets/img/logo/x2.png" preserveAspectRatio="none"> </image>

                    <g id="block-about" class="aboutspeed block-ball animated fadeIn cursor" transform="translate(-4.79 -13.752)">
                            <a href="javascript:;" data-toggle="modal" data-target="#aboutModal"> <image id="path4785-3" width="60" height="60" x="101" y="45" xlink:href="../../assets/img/index-icons/Sobre.png" preserveAspectRatio="none"> </image> </a>
                    </g>
                    <g id="block-partners" class="partnerspeed block-ball animated fadeIn cursor" transform="translate(-2.993 -8.377)">
                            <a href="javascript:;" data-toggle="modal" data-target="#partnersModal"><image id="path4785-3" width="60" height="60" x="50" y="110" xlink:href="../../assets/img/index-icons/Parceiros.png" preserveAspectRatio="none"> </image></a>
                    </g>

                    <g id="block-insa" class="insaspeed block-ball animated fadeIn cursor" transform="translate(-.877 -9.435)">
                            <a href="javascript:;" data-toggle="modal" data-target="#insaModal"><image id="path4785-3" width="60" height="60" x="170" y="65" xlink:href="../../assets/img/index-icons/Insa.png" preserveAspectRatio="none"> </image></a>
                    </g>
                    <g id="block-desert" class="desertificationspeed block-ball animated fadeIn cursor" transform="translate(-2.464 -8.906)">
                            <a href="javascript:;" data-toggle="modal" data-target="#desertModal"><image id="path4785-3" width="60" height="60" x="240" y="40" xlink:href="../../assets/img/index-icons/Desertificação.png" preserveAspectRatio="none"> </image></a>
                    </g>
                    <g id="block-who" class="whospeed block-ball animated fadeIn cursor" transform="translate(-2.464 -8.906)">
                        <a href="javascript:;" data-toggle="modal" data-target="#teamModal"><image id="path4785-3" width="60" height="60" x="280" y="128" xlink:href="../../assets/img/index-icons/Equipe.png" preserveAspectRatio="none"> </image></a>
                    </g>
                    <g id="block-sades" class="indicatorspeed block-ball animated fadeIn cursor" transform="translate(-2.993 -8.377)">
                        <a href="javascript:;" data-toggle="modal" data-target="#sadesModal"><image id="path4785-3" width="60" height="60" x="85" y="190" xlink:href="../../assets/img/index-icons/sades.png" preserveAspectRatio="none"> </image></a>
                    </g>
                    <g id="block-new" class="feedspeed block-ball animated fadeIn cursor" transform="translate(-2.464 -8.906)">
                        <a href="javascript:;" data-toggle="modal" data-target="#indicesDesertificacaoModal"><image id="path4785-3" width="60" height="60" x="255" y="202" xlink:href="../../assets/img/index-icons/imd.png" preserveAspectRatio="none"> </image></a>
                    </g>
                </g>
            </svg>
        </div>
        <!--<div class="row">
            <svg id="svg8" xmls="http://www.w3.org/2000/svg" width="100%" height="auto" xmls:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 400.000 330.000">

                <g>
                    <image class = "urfspeed block-ball animated fadeIn" id="base" width="250" height="250" x="75" y="40" xlink:href="../../assets/img/logo/x2.png" preserveAspectRatio="none"> </image>

                     BLOCO SOBRE
                    <g id="block-research" class="aboutspeed block-ball animated fadeIn" transform="translate(-4.79 -13.752)">
                            <a xlink:href="/projeto"> <image id="path4785-3" width="60" height="60" x="101" y="45" xlink:href="../../assets/img/index-icons/Sobre.png" preserveAspectRatio="none"> </image> </a>
                    </g>

                     BLOCO PARCEIROS
                    <g id="block-research" class="partnerspeed block-ball animated fadeIn" transform="translate(-2.993 -8.377)">
                            <a xlink:href="/parceiros"><image id="path4785-3" width="60" height="60" x="50" y="110" xlink:href="../../assets/img/index-icons/Parceiros.png" preserveAspectRatio="none"> </image></a>
                    </g>

                     BLOCO INSA
                    <g id="block-research" class="insaspeed block-ball animated fadeIn" transform="translate(-.877 -9.435)">
                            <a xlink:href="/insa"><image id="path4785-3" width="60" height="60" x="170" y="65" xlink:href="../../assets/img/index-icons/Insa.png" preserveAspectRatio="none"> </image></a>
                    </g>

                     BLOCO DESERTIFICACAO
                    <g id="block-research" class="desertificationspeed block-ball animated fadeIn" transform="translate(-2.464 -8.906)">
                            <a xlink:href="/desertificacao"><image id="path4785-3" width="60" height="60" x="240" y="40" xlink:href="../../assets/img/index-icons/Desertificação.png" preserveAspectRatio="none"> </image></a>
                    </g>

                     BLOCO QUEM E QUEM
                    <g id="block-research" class="whospeed block-ball animated fadeIn" transform="translate(-2.464 -8.906)">
                        <a xlink:href="/equipe"><image id="path4785-3" width="60" height="60" x="280" y="128" xlink:href="../../assets/img/index-icons/Equipe.png" preserveAspectRatio="none"> </image></a>
                    </g>

                     BLOCO DO SADES
                    <g id="block-research" class="indicatorspeed block-ball animated fadeIn" transform="translate(-2.993 -8.377)">
                        <a xlink:href="http://192.168.15.13"><image id="path4785-3" width="60" height="60" x="85" y="190" xlink:href="../../assets/img/index-icons/sades.png" preserveAspectRatio="none"> </image></a>
                    </g>

                     BLOCO NOTICIAS
                    <g id="block-research" class="feedspeed block-ball animated fadeIn" transform="translate(-2.464 -8.906)">
                        <a xlink:href="http://150.165.85.9:8000/" target="_blank"><image id="path4785-3" width="60" height="60" x="255" y="202" xlink:href="../../assets/img/index-icons/imd.png" preserveAspectRatio="none"> </image></a>
                    </g>

                </g>

            </svg>
        </div>-->
    </div>
</div>
