.center {
    margin: auto;
}

.image-size {
    margin-top: 2%;
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.animate-pop-in {
  animation: pop-in .6s ease-out forwards;
} 

.animated {
  margin-bottom:60px;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft {
  0% {
     opacity: 0;
     -webkit-transform: translateX(-20px);
  }
  100% {
     opacity: 1;
     -webkit-transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
     opacity: 0;
     transform: translateX(-20px);
  }
  100% {
     opacity: 1;
     transform: translateX(0);
  }
}

.fadeInLeft {
-webkit-animation-name: fadeInLeft;
animation-name: fadeInLeft;
}

.base-logo {
  width: 40%  ;
  height: auto;
  position: absolute;
}

.index-image-logo {
  width: 10%;
  top:5%;
  left:20%;
  position:absolute;
}

table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

td {
  padding: 0%;
  column-rule-style: hidden;
}