<div class="full-page">
    <div class="container insa-container">
        <h2 class="title">SOBRE O INSA</h2>
        <hr>
        <div class="content">
            <p>O Instituto Nacional do Semiárido (Insa) é uma unidade de pesquisa integrante do Ministério da Ciência,
                Tecnologia, Inovações e Comunicações (MCTIC), com enfoque no Semiárido brasileiro, tendo sido criado
                pela Lei nº 10.860, de 14 de abril de 2004, como unidade de pesquisa integrante da estrutura básica do
                então Ministério da Ciência e Tecnologia, (MCT), na forma do disposto no Decreto nº 5.886, de 6 de
                setembro de 2006.
            </p>
            <p>Como instituição federal de pesquisa, viabiliza soluções interinstitucionais para a realização de ações
                de formação, difusão e formulação de políticas para convivência sustentável com a semiaridez, a partir
                das potencialidades socioeconômicas e ambientais da região.</p>
            <p>Por meio de ações de articulação e de execução participativa de estudos e pesquisas, busca ser um
                instituto de referência para construção de um Semiárido que contribui para o desenvolvimento do
                país.</p>
        </div>
        <section>
            <h5 class="title" style="font-weight: bold;">ÁREA DE ATUAÇÃO</h5>
            <p>O Insa atua no Semiárido brasileiro, que se estende pelos nove estados do Nordeste (Alagoas, Bahia,
                Ceará, Paraíba, Pernambuco, Piauí, Rio Grande do Norte, Sergipe e Maranhão) e também pelo norte de Minas
                Gerais, possuindo 1.262 municípios e mais de 27 milhões de habitantes.
            </p>
            <div class="row">
                <div class="col-md-6" style="margin-top: 30px;">
                    <p>Suas atividades são baseadas em cinco eixos de sustentação:</p>
                    <ul>
                        <li>Articulação</li>
                        <li>Pesquisa</li>
                        <li>Formação</li>
                        <li>Difusão</li>
                        <li>Políticas Públicas</li>
                    </ul>
                </div>
                <div class="col-md-6" style="margin-top: 30px;">
                    <p>Com foco em oito áreas:</p>
                    <ul>
                        <li>Desertificação</li>
                        <li>Sistema de Produção</li>
                        <li>Recursos Hídricos</li>
                        <li>Biodiversidade e uso sustentável</li>
                        <li>Desenvolvimento e Tecnologias Sociais</li>
                        <li>Gestão da Informação e Conhecimento</li>
                        <li>Ciências do Solo e Mineralogia</li>
                        <li>Geotecnologias</li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>
